<mat-toolbar class="dark:mat-primary">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>Kumo</h1>

  <span class="flex-auto flex-shrink flex-grow"></span>

  <mat-menu #appMenu="matMenu" class="w-[150px]">
    <button mat-menu-item><mat-icon>settings</mat-icon>Settings</button>
    <button *ngIf="isAdmin" mat-menu-item (click)="navigateTo('admin/')">
      <mat-icon>admin_panel_settings</mat-icon>
      Admin
    </button>
    <mat-divider />
    <button mat-menu-item (click)="logout()"><mat-icon>exit_to_app</mat-icon>Sign out</button>
  </mat-menu>

  <button mat-flat-button [matMenuTriggerFor]="appMenu" color="primary">
    {{ username }}
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container autosize class="h-full">
  <mat-sidenav [opened]="sidenav" mode="side" class="h-full md:w-[180px]">
    <mat-nav-list class="nav-list">
      @if (adminPanel) {
        <mat-list-item>
          <button mat-flat-button (click)="navigateTo('/')">
            <mat-icon>home</mat-icon>
            Home
          </button>
        </mat-list-item>
        <mat-divider />
        <mat-list-item *ngIf="getPathPoint" (click)="navigateTo('admin/path_point')">
          <button mat-flat-button>
            <mat-icon>timeline</mat-icon>
            Path Points
          </button>
        </mat-list-item>
        <mat-list-item *ngIf="getExplorationRole" (click)="navigateTo('admin/exploration_role')">
          <button mat-flat-button>
            <mat-icon>supervisor_account</mat-icon>
            Exploration Roles
          </button>
        </mat-list-item>
        <mat-list-item *ngIf="getPermission" (click)="navigateTo('admin/permission')">
          <button mat-flat-button>
            <mat-icon>lock</mat-icon>
            Permissions
          </button>
        </mat-list-item>
        <mat-list-item *ngIf="getUserRoles" (click)="navigateTo('admin/user_explore_roles')">
          <button mat-flat-button>
            <mat-icon>person_add</mat-icon>
            User Exploration Roles
          </button>
        </mat-list-item>
      } @else {
        <button mat-flat-button (click)="navigateTo('')">
          <mat-icon>house</mat-icon>
          Dashboard
        </button>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="p-4">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
