<mat-progress-bar [mode]="isLoading ? 'indeterminate' : 'determinate'" value="0"></mat-progress-bar>
<table
  mat-table
  [dataSource]="dataSource"
  matSort
  (matSortChange)="sortChange($event)"
  aria-describedby="Path Points Table"
>
  @for (column of columns; track column) {
    <ng-container [matColumnDef]="column.name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!column.sortable">
        {{ column.displayName }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element[column.name] }}</td>
    </ng-container>
  }

  @if (actions.length !== 0) {
    <ng-container [matColumnDef]="'actions'">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" class="w-0">
        <div class="flex flex-row">
          @for (action of actions; track action) {
            <button mat-icon-button (click)="action.action(element.uuid)" [color]="action.color">
              <mat-icon>{{ action.icon }}</mat-icon>
            </button>
          }
        </div>
      </td>
    </ng-container>
  }

  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons [length]="this.length"> </mat-paginator>
