.file-container {
  @apply flex flex-row flex-wrap gap-4;
}

.file-grid-card {
  @apply flex w-40 flex-col items-center
    sm:w-20;
}

.file-grid-icon {
  @apply h-32 w-32 text-9xl
  sm:h-[3.75rem] sm:w-[3.75rem] sm:text-6xl;
}

.file-grid-content {
  @apply w-36 overflow-hidden text-ellipsis whitespace-nowrap p-0 text-center
      sm:w-16 sm:text-xs;
}
