.grid-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
  @screen md {
    grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
  }
  @screen sm {
    grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
  }
}

.file-grid-container {
  @apply flex max-w-40 justify-center sm:max-w-20 md:max-w-28;
}

.file-grid-card {
  @apply flex h-36 w-36 flex-col items-center
    sm:h-16 sm:w-16
    md:h-24 md:w-24;
}

.file-grid-image {
  @apply flex h-28 w-32 flex-col justify-center pb-2 pt-4
  sm:h-10 sm:w-12 sm:pb-0 sm:pt-2
  md:h-16 md:w-20 md:pb-0 md:pt-2;
}

.file-grid-image > img {
  @apply h-full w-full object-contain;
}

.file-grid-icon {
  @apply h-28 w-32 text-9xl
  sm:h-12 sm:w-12 sm:text-5xl
  md:h-20 md:w-20 md:text-[5rem];
}

.file-grid-content {
  @apply w-36 flex-shrink-0 overflow-hidden text-ellipsis  whitespace-nowrap px-4 text-center
      sm:w-16 sm:px-2 sm:text-xs
      md:w-24 md:px-2 md:text-sm;

  @apply pb-2 sm:pb-1 #{!important};
}

.file-list-container {
  padding: 0 !important;
  margin: 0 !important;
  @apply min-h-full w-full;
}

.file-list-content-container {
  padding: 0 !important;
  margin: 0 !important;
  @apply flex flex-row;
}

.file-list-image {
  //@apply flex h-28 w-32 flex-col justify-center pb-2 pt-4
  //sm:h-10 sm:w-12 sm:pb-0 sm:pt-2
  //md:h-16 md:w-20 md:pb-0 md:pt-2;
  @apply h-12 w-12 pb-2 pt-2;
}

.file-list-image > img {
  @apply h-full w-full object-contain;
}

.file-list-icon {
  @apply h-12 w-12 text-5xl;
}

.file-list-name {
  @apply flex flex-col justify-center pl-5;
}
