<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock %} - Kumo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block javascript %} {% endblock %}
</head>
<body>
    <nav>
        <h1>Kumo</h1>
        <ul>
            {% if g.user %}
            <li><span>{{ g.user["username"] }}</span></li>
            <li><a href="{{ url_for('auth.logout') }}">Log out</a></li>

            <button id="clear" value="Clear" onclick="clearCookie()">Clear</button>
            {% else %}
            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            {% endif %}
        </ul>
    </nav>



    {% block content %}{% endblock %}
</body>
</html>