{% extends "base.html" %}

{% block title %} Index {% endblock %}

{% block content %}
{% if g.user %}
<div class="content">
	<nav class="horizontal-nav">
		<div class="navigation-controls">
			<img src="{{ url_for('static', filename='back_arrow.png') }}" class="navigation-button">
			<img src="{{ url_for('static', filename='forward_arrow.png') }}" class="navigation-button">
			<img src="{{ url_for('static', filename='up_arrow.png') }}" class="navigation-button">
		</div>
		<div class="breadcrum-wrap">
			<div class="breadcrum">
				<a href="/">/</a>
				{% if base_url != None %}
					{% set split_url = base_url.split("/") %}
					{% for i in range(split_url|length)  %}
						<a href="/{{split_url[0:i+1]|join('/')}}">{{split_url[i]}}</a>
					{% endfor %}
				{% endif %}
			</div>
		</div>
		<img src="{{ url_for('static', filename='user.png') }}" class="navigation-button">

	</nav>

	<ul>

		<li><span>{{ g.user["username"] }}</span></li>
		<li><a href="{{ url_for('auth.logout') }}">Log out</a></li>

	</ul>

	<div class="explorer">
		{% for file_data in files %}
		{% set file = file_data[0] %}
		{% set is_dir = file_data[1] %}
		<div class="item">
			{% if is_dir == True %}
			<a href="/{% if base_url != None %}{{ base_url + '/' }}{% endif %}{{ file }}">
			<img src="{{ url_for('static', filename='folder.png') }}" class="item-image"> <br>
			<span>{{ file }}</span>
			</a>
			{% else %}
			<a>
			<img src="{{ url_for('static', filename='file.png') }}" class="item-image"> <br>
			<span>{{ file }}</span>
			</a>
			{% endif %}
		</div>
		{% endfor %}
	</div>

</div>
{% endif %}
{% endblock %}