{% extends "base.html" %}

{% block title %} Index {% endblock %}

{% block css %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/explorer/explorer.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/explorer/breadcrumb.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/explorer/navigation.css') }}">
{% endblock %}

{% block content %}
{% if g.user %}
<div class="content">
	<nav class="horizontal-nav">
		<div class="navigation-controls">
			<img src="{{ url_for('static', filename='icons/back_arrow.png') }}" class="navigation-button">
			<img src="{{ url_for('static', filename='icons/forward_arrow.png') }}" class="navigation-button">
			<img src="{{ url_for('static', filename='icons/up_arrow.png') }}" class="navigation-button">
		</div>
		<div class="breadcrumb-wrap">
			<div class="breadcrumb">
				<a href="/explore">/</a>
				{% if base_url != None %}
					{% set split_url = base_url.split("/") %}
					{% for i in range(split_url|length)  %}
						<a href="/explore/{{split_url[0:i+1]|join('/')}}">{{split_url[i]}}</a>
					{% endfor %}
				{% endif %}
			</div>
		</div>
		<img src="{{ url_for('static', filename='icons/user.png') }}" class="navigation-button">

	</nav>

	<ul>

		<li><span>{{ g.user["username"] }}</span></li>
		<li><a href="{{ url_for('auth.logout') }}">Log out</a></li>

	</ul>

	<div class="explorer">
		{% for file_data in files %}
		{% set file = file_data[0] %}
		{% set is_dir = file_data[1] %}
		{% set is_img = file_data[2] %}
		<div class="item">
			{% if is_dir == True %}
			<a href="/explore/{{base_url + '/' if base_url}}{{ file }}">
			<img src="{{ url_for('static', filename='icons/folder.png') }}" class="item-image"> <br>
			<span>{{ file }}</span>
			</a>
			{% else %}
			<a>
			<img src="{% if is_img == True %}{{'/img/' + base_url +'/'+ file}}{% else %}{{ url_for('static', filename='icons/file.png') }}{% endif %}" class="item-image"> <br>
			<span>{{ file }}</span>
			</a>
			{% endif %}
		</div>
		{% endfor %}
	</div>

</div>
{% endif %}
{% endblock %}