<div class="flex flex-row justify-between p-4 pb-0">
  <h1 class="my-auto-force">{{ data.title }}</h1>
  <button mat-icon-button class="my-auto scale-75 transform" [mat-dialog-close]="undefined">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div>
  <form class="w-full p-2" [formGroup]="formGroup">
    @for (entry of data.entries; track entry) {
      @if (entry.type === "checkbox") {
        <mat-checkbox [formControlName]="entry.name">
          {{ entry.displayName }}
        </mat-checkbox>
      } @else if (entry.type == "dropdown") {
        <mat-form-field class="w-full" [hideRequiredMarker]="!entry.required">
          <mat-label>{{ entry.displayName }}</mat-label>
          <input
            matInput
            type="text"
            [matAutocomplete]="auto"
            [formControlName]="entry.name"
            [placeholder]="entry.displayName"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            [displayWith]="displayDropdownField(entry)"
            (opened)="switchToSearchMode(entry)"
            (closed)="resetFilter(entry)"
            (optionSelected)="optionSelected(entry, $event)"
          >
            @if (values.has(entry.name)) {
              @for (option of values.get(entry.name); track values) {
                <mat-option [value]="option.uuid">{{ displayField(entry, option) }} </mat-option>
              }
            }
          </mat-autocomplete>
        </mat-form-field>
      } @else if (entry.type == "multiselect-dropdown") {
        <mat-form-field class="w-full" [hideRequiredMarker]="!entry.required">
          <mat-label>{{ entry.displayName }}</mat-label>
          <mat-chip-grid #chipGrid>
            @for (value of multiSelectValues.get(entry.name); track value) {
              <mat-chip-row (removed)="removeFromMultiSelectDropdown(entry, value)">
                {{ value[entry.getFullObjectPropertyNameForUpdate!()] }}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
            }
          </mat-chip-grid>
          <input
            [matChipInputFor]="chipGrid"
            [matAutocomplete]="auto"
            [formControlName]="entry.name"
            [placeholder]="entry.displayName"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            [displayWith]="displayDropdownField(entry)"
            (opened)="switchToSearchMode(entry)"
            (closed)="resetFilter(entry)"
            (optionSelected)="optionSelected(entry, $event)"
          >
            @if (multiSelectRemainingValues.has(entry.name)) {
              @for (option of multiSelectRemainingValues.get(entry.name); track values) {
                <mat-option [value]="option.uuid">{{ displayField(entry, option) }} </mat-option>
              }
            }
          </mat-autocomplete>
        </mat-form-field>
      } @else {
        <mat-form-field class="w-full" [hideRequiredMarker]="!entry.required">
          <mat-label>{{ entry.displayName }}</mat-label>
          <input matInput [name]="entry.name" [formControlName]="entry.name" [placeholder]="entry.displayName" />
        </mat-form-field>
      }
      <br />
    }
  </form>
</div>

<div mat-dialog-actions class="flex w-full flex-row justify-between">
  <button
    mat-flat-button
    color="primary"
    (click)="submitFunction()"
    class="flex-grow"
    [disabled]="!formGroup.valid || this.callFailed"
  >
    @switch (data.type) {
      @case ("add") {
        Add
      }
      @case ("update") {
        Update
      }
      @case ("search") {
        Search
      }
    }
  </button>
  <button mat-flat-button color="warn" [mat-dialog-close]="undefined" class="flex-grow">Cancel</button>
</div>
