html, body {
    margin:0;
    padding:0;
    background-color: #9b2d2d;
    color: #aaa;
    height: 100%;
    display: grid;
}
.auth-container {
    border: solid black 1px;
    border-radius: 10px;
    background-color: #670d0d;
    padding: 10px;
}

.auth-container > img{
    display: block;
    margin: auto;
}

.auth-container h1 {
    color:#447711;
}

.auth-container form {
    display: grid;
    row-gap: 0.7em;
}

.auth-container > form > label {
    display: none;
}


.auth-container > form > input {
    font-size: 1.5em;
}

#authwrapper {

}

/*@TODO set up better rules */
@media (orientation: landscape) {
    .auth-container{
        margin:auto 30%;
        top:50%;
        left: 50%;
    }
}

@media (orientation: portrait) {
    .auth-container {
        margin: 0 auto;
    }
}
