html, body {
	margin: 0;
	padding: 0;
	background-color: #222;
	color: #aaa;
	height: 100%;
	display: grid;
}

.auth-container {
	border: solid black 1px;
	border-radius: 10px;
	background-color: #555;
	padding: 10px;
}

.auth-container > img {
	display: block;
	margin: auto;
}

.auth-container h1 {
	color: #447711;
}

.auth-container form {
	display: grid;
	row-gap: 0.7em;
}

.auth-container > form > label {
	display: none;
}

.auth-container > form > input {
	font-size: 1.5em;
}

.auth-link {
	font-size: 1.2em;
	color: #aaa5aa;

}

.auth-links-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.align-right {
	text-align: right;
}

.logo {
	width: 200px;
}

.path-textbox {
	font-size: 1.4em;
}

.horizontal-nav {
	display: grid;
	grid-template-columns: auto 1fr auto;
}

.navigation-controls {
	display: inline-flex;
	align-items: center;
}

.navigation-button {
	height: 1.4em;
	align-self: center;
}

.breadcrum-wrap {
	margin:0;
	border: solid #11557C;
	background-color: white;
}

.breadcrum {
	margin:0;
	min-width: 50px;
	padding: 0;
	color:#11557C;
	font-size:1.2em;
}

.breadcrum > a {
	color:black;
	font-size: 1em;
}
.breadcrum > a:hover {
	color:white;
	background-color:blue;
}

.explorer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-row-gap: 1.5em;
	text-align: center;
}
.item > a {
	word-wrap: break-word;
	text-align: center;
	display:block;
	height:250px;
	overflow:hidden;
	font-size:1.5em;
}
.item-image {
	width:200px;
}

.item > a:hover {
	display: block;
	height: auto;
}

/*@TODO set up better rules */
@media (orientation: landscape) {
	.auth-container {
		margin: auto 30%;
	}
}

@media (orientation: portrait) {
	.auth-container {
		margin: auto 0;
	}
}
